@import url('https://fonts.googleapis.com/css2?family=Cabin+Sketch:wght@400;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --foreground-rgb: 0, 0, 0; /* Black RGB */
  --background-start-rgb: 0, 0, 0; /* Black RGB */
  --background-end-rgb: 0, 0, 0; /* Black RGB */
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 0, 0, 0; /* Black RGB */
    --background-start-rgb: 0, 0, 0; /* Black RGB */
    --background-end-rgb: 0, 0, 0; /* Black RGB */
    --font-family-sans:  Helvetica Neue, Helvetica, 'Roboto',Arial, sans-serif;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background-color: rgb(var(--background-start-rgb)); /* Solid black background */
  font-family: 'Roboto', 'Helvetica Neue', Helvetica, Arial, sans-serif; 
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* Hide scrollbar for Webkit browsers (Chrome, Safari) */
.scrollbar-hidden::-webkit-scrollbar {
  display: none; /* Hide scrollbar */
}

/* Hide scrollbar for IE and Edge */
.scrollbar-hidden {
  -ms-overflow-style: none; /* Internet Explorer and Edge */
  scrollbar-width: none; /* Firefox */
}